<div class='mainContainer'>
	<h1 class='mainTitle'>Real Time Products</h1>

	<div class='containerProductsAndForm'>

		<div class='containerProducts'>
			<div class='listOfProducts' id='listOfProducts'>
			</div>
		</div>

		<div class='containerForm'>
			<button
				type='button'
				class='buttonRealTime'
				id='addProductButton'
				onclick='addProductForm()'
			>Agregar producto</button>
			<button
				type='button'
				class='buttonRealTime'
				id='deleteProductButton'
				onclick='deleteProductForm()'
			>Quitar producto</button>
			<div class='selectForm'>
			</div>
			<div class='form' id='form'>
			</div>
		</div>
	</div>

</div>

{{! Instanciamos socket del lado del cliente }}
<script src='socket.io/socket.io.js'></script>
<script src='js/index.js'></script>