<div>

	<h1>Real Time Products</h1>

	<div id='container'>
		<h2>Lista de Productos</h2>
		<div id='listOfProducts'>
		</div>
	</div>

</div>

{{! Instanciamos socket del lado del cliente }}
<script src='socket.io/socket.io.js'></script>
<script src='js/index.js'></script>